<html>

<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/font-awesome.min.css">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/bundle.css">
      <title></title>
</head>

<body>

      <div id="root">
            {{html|safe}}
      </div>
      <script src="/js/vendor.js"></script>
      <script src="/js/bundle.js"></script>
</body>

</html>
